.form {
  display: flex;
  justify-content: center;
  margin-top: 200px;
  align-content: center;
  flex-direction: column;
  font-family: "Inter";
  font-size: 18px;
  width: 1000px;
}

label {
  margin-top: 20px;
  width: 400px;
}

#send-button {
  border: none;
  background-color: #882e2e;
  color: white;
  font-size: 16px;
  font-family: "Inter";
  margin-top: 15px;
  width: 130px;
  height: 40px;
  border-radius: 30px;
}

.input-field {
  background-color: white;
  height: 40px;
  font-size: 22px;
  font-family: "Inter";
  border-radius: 5px;
  border: 1px solid black;
  margin-top: 5px;
}

#message-field {
  height: 150px;
}
