.contacttext-container {
  margin-top: -80px;
  display: flex;
  justify-content: center;
  padding-left: -50px;
  flex-direction: column;
  margin-right: 80px;
}

#contacttext-h2 {
  font-family: "Inter", sans-serif, monospace;
  color: #1f2937;
  font-size: 28px;
  font-weight: 100;
  margin-left: 140px;
  margin-top: -10px;
  width: 400px;
}

#contacttext-p {
  font-family: "Inter", sans-serif, monospace;
  font-size: 24px;
  color: #1f2937;
  margin-left: 140px;
  line-height: 50px;
}
