* {
  box-sizing: border-box;
}

body {
  margin: 0px;
}

.NavBar {
  height: 50px;
  width: 100%;
  background-color: #882e2e;
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
}

#logo {
  font-family: "Inter", serif;
  /* margin-right: 450px; */
  white-space: nowrap;
}

.spacer {
  display: flex;
  flex: 1;
  max-width: 400px;
}
.TheButtons {
  display: flex;
  flex: 1 1 auto;
  justify-content: center;
  gap: 1rem;
  white-space: nowrap;
}

button,
a {
  border: none;
  background-color: #882e2e;
  color: #e5e7eb;
  font-size: 16px;
  font-family: "Inter";
  padding: 0.25rem 0.5rem;
}

a {
  display: flex;
  align-items: center;
  text-decoration-line: none;
  
}

.btn-hovering:hover {
  color: white;
  font-weight: 100;
}

